<p-dialog header="Filtrar" [visible]="true" [modal]="true" [closable]="false" [draggable]="false"
    [style]="{ width: '60rem' ,  'height': '300px'  }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

    <div class="m-0">
        <div class="grid">
            <div class="col-6">
                <label class="block" for="status">Status</label>
                <p-dropdown id="status" [style]="{ 'min-width': '100%', 'width': '100%'}" [options]="['Ativo', 'Inativo']" [(ngModel)]="status" ></p-dropdown>
            </div>
            <div class="col-6">
                <label class="block" for="textoBusca">Buscar</label>
                <input type="text" style="width: 100%;" id="textoBusca" pInputText [(ngModel)]="textoBusca" />
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="removerFiltros()" label="Remover Filtros" severity="secondary"
            pAutoFocus></p-button>

        <p-button icon="pi pi-filter" (click)="filtrarContatos()" label="Filtrar" severity="success" pAutoFocus></p-button>
    </ng-template>
</p-dialog>