<p-dialog header="Cadastrar Contato" [visible]="true" [modal]="true" [closable]="false" [draggable]="false"
    [style]="{ width: '60rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

    <p class="m-0">

        <p-tabView [(activeIndex)]="tab">
            <p-tabPanel header="Contato">
                <div class="grid">
                    <div class="col-4">
                        <label class="block" for="nome">Nome Completo</label>
                        <input type="text" id="nome" pInputText [(ngModel)]="dsContato" />
                    </div>
                    <div class="col-4">
                        <label class="block" for="email">E-mail</label>
                        <input type="text" id="email" pInputText [(ngModel)]="dsEmail" />
                    </div>
                    <div class="col-4">
                        <label class="block" for="celular">Celular</label>
                        <input type="text" id="celular" pInputText [(ngModel)]="nrCelular" />
                    </div>
                    <div class="col-12 flex align-content-center" style="gap: 10px;">
                        <p-inputSwitch [(ngModel)]="stAtivo"></p-inputSwitch> <span>Status</span>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Grupo"  [disabled]="!dsEmail || !nrCelular || !dsContato">
                <div>
                    <p-pickList [source]="listaOrigem" [target]="listaDestino" sourceHeader="Grupos Disponíveis"
                        targetHeader="Grupos Atuais" [dragdrop]="true" [responsive]="true"
                        [sourceStyle]="{ height: '30rem' }" [targetStyle]="{ height: '30rem' }" breakpoint="1400px"
                        [showSourceControls]="false" [showTargetControls]="false">
                        <ng-template let-item pTemplate="item">
                            <div>
                                {{ item.dsGrupocontato }}
                            </div>
                        </ng-template>
                    </p-pickList>
                </div>
            </p-tabPanel>
        </p-tabView>
    </p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="closeDialog()" label="Fechar" severity="secondary" pAutoFocus></p-button>
        <p-button icon="pi pi-check" (click)="tab = 1" *ngIf="tab == 0" label="Continuar"
            [disabled]="!dsEmail || !nrCelular || !dsContato" pAutoFocus></p-button>
        <p-button icon="pi pi-replay" (click)="tab = 0" *ngIf="tab == 1" label="Voltar" pAutoFocus></p-button>
        <p-button icon="pi pi-check" (click)="salvar()" *ngIf="tab == 1" label="Salvar" severity="success" pAutoFocus
            [disabled]="listaDestino.length == 0"></p-button>
    </ng-template>
</p-dialog>